.page {
  width: 100vw;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;

  .label {
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin: 10px;
    border-width: 1px;
    border-color: #cccccc;
    border-bottom-style: solid;
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .add {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    border-width: 1px;
    border-color: #cccccc;
    border-bottom-style: solid;
    margin-bottom: 80px;

    .icon {
      font-size: 40px;
      color: #03495c;
      margin-bottom: 10px;
    }
  }
}
