.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.47);
}

.window {
  background-color: white;
  border-width: 1px;
  border-radius: 10px;

  .header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;

    .iconLeft {
      color: white;
      pointer-events: none;
      opacity: 0;
    }

    label {
      font-size: 20px;
      font-weight: 500;
      margin-left: 10px;
      margin-right: 10px;
    }

    .iconRight {
      color: #d9d9d9;
      font-size: 30px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.none {
  display: none;
}
