.button {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  background-color: #03495c;
  border-radius: 5px;
}

.buttonOff {
  opacity: 0.7;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  background-color: #03495c;
  border-radius: 5px;
}
