.dough {
    width: 357px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #959595;
    margin-bottom: 5px;

    .label {
      font-size: 16px;
    }

    .controls {
      display: flex;
      gap: 6px;

      .icon {
        font-size: 20px;
        color: #959595;
      }
    }
  }