.menuPanel {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 275px;
  height: calc(100vh - 50px);
  left: -275px;
  padding: 30px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: left 0.4s;
  z-index: 1000;
  gap: 21px;

  &.show {
    left: 0px;
  }

  .option {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      align-items: center;
      gap: 10px;

      .icon {
        width: 30px;
        height: 30px;
        display: flex;
        background-color: #787878;
        justify-content: center;
        align-items: center;
        border-radius: 5px;

        .faIcon {
          color: #cccccc;
        }
      }

      .text {
        color: #cccccc;
        font-weight: 600;
      }
    }

    .faIconSub {
      color: #cccccc;
      transition: all 0.2s ease-in-out;
    }

    .faIconSubPush {
      color: #cccccc;
      transform: rotate(90deg);
      transition: all 0.2s ease-in-out;
    }
  }
}
.option:hover {
  // background-color: rgba(95, 95, 95, 0.9);

  .left {
    .icon {
      .faIcon {
        color: goldenrod;
      }
    }
    .text {
      color: goldenrod;
    }
  }

  .faIconSub {
    color: goldenrod;
  }

  .faIconSubPush {
    color: goldenrod;
  }
}

.subOptions {
  display: flex;
  flex-direction: column;

  label {
    margin-left: 40px;
    color: #cccccc;
    font-weight: 600;
  }

  label:hover {
    color: goldenrod;
  }
}

.navLink {
  text-decoration: none;
}
